@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

body {
        background-color: #161354;
        color: #6e68b8;
        font-family: "Exo 2", serif;
        margin: auto;
        max-width: 1250px;
        
    }

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    background-color: #231c84;
    border-radius: 8px;
    padding: 6px;
    padding-left: 5px
}

h1{
    text-align: center;
}

input{
    background-color: #6e68b8;
    border-radius: 10px;
}
textarea{
    background-color: #6e68b8;
    border-radius: 10px;
}

label{
    text-align: center;
}

.button:hover{
    background-color: #231c84;
}


.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar ul{
    list-style-type: none;
    background-color: #231c84;
    padding: 0px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    
}
.navbar a{
    color: #6e68b8;
    text-decoration: none;
    margin: auto;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover{
    background-color: #1C176A;
}
.navbar li {
    display: inline-block;
    margin: auto;
}


.interest {
    display:flex;
    border-radius: 24px;
    text-align:center

}

.interest:nth-child(even) {
    flex-direction: row-reverse;
}

.interest p {
    margin-right: 32px;
    margin-bottom:auto;
    font-size: 28px;
}

.interest img {
    border-radius: 24px;
    
}

.interest div{
    display: flex;
}

.kael > p{
    margin-right: 32px;
    margin-bottom:auto;
    font-size: 30px;
}

.kael{
    text-align: center;
    display: flex;
    border-radius: 24px;
    
}

.kael > img{
    border-radius: 24px;
}



