@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

body {
        background-color: #161354;
        color: #6e68b8;
        font-family: "Exo 2", serif;
        margin: 0px;
    }

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    background-color: #231c84;
    border-radius: 8px;
    padding: 6px;
    padding-left: 5px
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #231c84;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: #6e68b8;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #1C176A;
}
.navbar li{
    float: left
}

({
    text-align: center;
}